<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>defaulter of credit card clients prediction</title>
    <div style="background-image: url(https://static.vecteezy.com/system/resources/previews/000/127/562/original/man-pushing-stress-illustration-vector.jpg);">
    <!-- BootStrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <!-- css -->
    <link rel="stylesheet" href="static/css/styles.css">
    

</head>

<body>

    <!-- As a heading -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">defaulter of credit card clients prediction BY Yash Mohite</a>
            </div>
        </div>
    </nav>

    <br><br><br>


    <div class="container">

    <form action="{{url_for('predict_datapoint')}}" method="POST">
        <div class="form-group">
            <label for="SEX">SEX:</label>
            <select id="SEX" name="SEX">
                <option value="0">Female</option>
                <option value="1">Male</option>
            </select>
        </div>

        <div class="form-group">
            <label for="EDUCATION">EDUCATION:</label>
            <select id="EDUCATION" name="EDUCATION">
                <option value="4">University</option>
                <option value="3">Graduate school</option>
                <option value="2">High School</option>
                <option value="1">Unknown</option>
            </select>
        </div>

        <div class="form-group">
            <label for="AGE">AGE:</label>
            <input type="text" id="AGE" name="AGE" placeholder="Enter value">
        </div>

        <h1>-1=pay duly, 1=payment delay for one month, 2=payment delay for two months,8=payment delay for eight - months, 9=payment delay for nine months and above</h1>

        <div class="form-group">
            <label for="PAY_0">September:</label>
            <input type="text" id="PAY_0" name="PAY_0" placeholder="Enter value">
        </div>

        <div class="form-group">
            <label for="PAY_2">August:</label>
            <input type="text" id="PAY_2" name="PAY_2" placeholder="Enter value">
        </div>

        <div class="form-group">
            <label for="PAY_3">July:</label>
            <input type="text" id="PAY_3" name="PAY_3" placeholder="Enter value">
        </div>

        <div class="form-group">
            <label for="PAY_4">June:</label>
            <input type="text" id="PAY_4" name="PAY_4" placeholder="Enter value">
        </div>

        <div class="form-group">
            <label for="PAY_5">May:</label>
            <input type="text" id="PAY_5" name="PAY_5" placeholder="Enter value">
        </div>

        <div class="form-group">
            <label for="PAY_6">April:</label>
            <input type="text" id="PAY_6" name="PAY_6" placeholder="Enter value">
        </div>
    

<!-- Submit -->
<input type="submit" value="Submit Here" class="btn btn-secondary">
</form>

<br>
<br>
<h3 style="color: white">{{ final_result }}</h3>

<br>
<br>
<p>Yash Mohite</p>


    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>


</body>

</html>
